@font-face {
  font-family: 'Krungthep';
  src: url('Krungthep.ttf'); /* IE9 Compat Modes */

}

body {
	font-family: 'Krungthep';
}


h1 {
	font-size: 64px;
	text-align: center;
}

h2 {
	font-size: 30px;
	text-align: center;
	color: springgreen;
}
h3 {
	text-align: center;
	font-size: 188px;
	margin-bottom: 5px;
	padding-top: 5px;
}

h4 {
	text-align: center;
	font-size: 30px;
	color: #FF1493;
	margin: 100px;
}
p {
	font-size: 48px;
	text-align: left;
	padding-left: 100px;
}
a {
	color: springgreen;
	text-decoration: none;
}

blockquote {
	text-align: right;
	font-size: 36px;
	padding-right: 100px;
}

.purple { 
	color: indigo; 
}
 